In [20]:
# Dependencies and Setup
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

# File to Load (Remember to Change These)
file_to_load = "data/IMDb ratings.csv"

# Read Purchasing File and store into Pandas data frame
ratings_df = pd.read_csv(file_to_load)

ratings_df.head()

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [21]:
imdb_ratings_df = pd.DataFrame({"IMDb_id":ratings_df["imdb_title_id"],
                                   "Rating":ratings_df["mean_vote"]})
imdb_ratings_df.head()

     IMDb_id  Rating
0  tt0000009     5.9
1  tt0000574     6.3
2  tt0001892     6.0
3  tt0002101     5.3
4  tt0002130     6.9

In [22]:
imdb_ratings_df.dropna(inplace = True)

In [30]:
connection_string = "postgres:(#)@localhost:5432/movies_db"
engine = create_engine(f'postgresql://{connection_string}')

In [31]:
# Confirm tables
engine.table_names()

[]

In [32]:
imdb_ratings_df.to_sql(name='IMDB_ratings', con=engine, if_exists='append', index=True)